
<% if flash[:message] %>
<p><%= flash[:message] %></p>
<% end %>
    

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class= "col-sm"><br>

    <%= bootstrap_form_for :user, url: sessions_path, html: {class: "form group"} do |f| %>
    <%= f.text_field :email, placeholder: 'Email', class: "form_control" %>
    <%= f.text_field :password, placeholder: 'Password', class: "form_control" %>
    <%= f.submit "Login", class: "btn btn-primary" %>
    <%= link_to  "New to us? Sign up!", new_user_path %>

    <% end %>    
    </div>

    <div class="col-sm">
    </div>
  </div>
</div>
     
      






