<div class="container" style="text-align:center">
<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h1><b>Site Analytics</b></h1>

<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %><b>Neighborhood with the most Raccoon Sightings:</b> <%= Neighborhood.most_raccoons %><%= image_tag("icon.png", height: 100, class: 'image') %></h2>

<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %><b>Most Popular Raccoon Food:</b> <%= Raccoon.raccoon_fav_food %><%= image_tag("icon.png", height: 100, class: 'image') %></h2>

<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %><b>Most Popular Raccoon:</b> <%= Raccoon.most_popular_raccoon %><%= image_tag("icon.png", height: 100, class: 'image') %></h2>

<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %><b>Most Active User:</b> <%= User.most_active_user %><%= image_tag("icon.png", height: 100, class: 'image') %></h2>

<div class = "row"> <!-- Spacer -->
  <br>
  <br>
  <br>
</div>

<h2><%= image_tag("icon.png", height: 100, class: 'image') %><b>Most Active Raccoon:</b> <%= Raccoon.most_active_raccoon %><%= image_tag("icon.png", height: 100, class: 'image') %></h2>


</div>