<% if flash[:message] %>
<p><%= flash[:message] %></p>
<% end %>
<div class=" ui fluid container">
<div class="row">
<%= form_for @user, html: {class: "ui form"} do|f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :neighborhood, "Select Your Neighborhood: " %>
<%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name) %>

<%= f.label :email, "Email" %>
<%= f.text_field :email %>

<%= f.label :password, "Password" %>
<%= f.text_field :password %>

<%= f.label :password_confirmation, "Password Confirmation" %>
<%= f.text_field :password_confirmation %>

<%= f.submit %>
<% end %>

</div>
</div>