
<div class="container"><br>
<div class="card-columns">
  <% @raccoons.each do |raccoon|  %>  
  <div class="card img-thumbnail">
    <%= link_to image_tag(raccoon.picture, class: 'card-img-top'), raccoon %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to  raccoon.name, raccoon %></h5>
      <p class="card-text">
        <b>Favorite Food:</b> <%= raccoon.favorite_food %><br>
        <b>Known for being</b> <%= raccoon.disposition %><br>
        <b>Most often seen in:</b> <%= raccoon.favorite_neighborhood %><br>
        <%= link_to  "See All Sightings", track_raccoon_url(raccoon) %>
      </p>
    </div>
  </div>
  <% end %>  
</div>

<footer>
  <span class="text-muted"><%= image_tag("raccoon.png", height: 50, class: 'image') %>.</span>
</footer>
</div>