<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
    <h3>Create a Raccoon!</h3>
    <%= bootstrap_form_for @raccoon do |f| %>
      <%= f.text_field :name, placeholder: 'Name' %>
      <%= f.text_field :color, placeholder: 'Color' %>
      <%= f.select(:size, @raccoon.sizes)%>
      <%= f.select(:gender, @raccoon.genders) %> 
      <%= f.text_field :favorite_food, placeholder: 'favorite food' %>
      <%= f.select(:disposition, @raccoon.dispositions) %>
      <%= f.hidden_field :picture %>
      <%= f.submit %>
    <% end %>
    </div>
    <div class="col">

    </div>
  </div>
</div>