<div class="container">
  <div class="row">
    <div class="col-sm">
    
    </div>
    <%= image_tag (@raccoon.picture), class: "img-thumbnail"%><br>
    <div class="col-sm">
    <h2><%= @raccoon.name %></h2>
    
    <b>Favorite Food:</b> <%= @raccoon.favorite_food %><br>
    <b>Disposition:</b> <%= @raccoon.disposition %><br>
    <b>Size:</b> <%= @raccoon.size %><br>
    <b>Gender:</b> <%= @raccoon.gender %><br>
    </div>
    <div class="col-sm">
    </div>
</div>
  <div class="spacing-raccoon-show">
    
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <%= bootstrap_form_for @raccoon do |f| %>
      <b>Seen At:</b> <%= f.collection_select :location_ids, @raccoon.locations.all, :id, :address %>
      <% end %>

      <%= bootstrap_form_for ([@raccoon, @comment]) do |f| %>
      <%= f.label :comment_title, "Comment Title" %>
      <%= f.text_field :comment_title %>

      <%= f.label :comment_text, "Comment" %>
      <%= f.text_area :comment_text %>

      <%= f.submit %>
      <% end %>
    </div>
    <div class="col">
      </div>
  </div> 
</div>


<ul>
  <% @raccoon.comments.each do |comment| %>
  <div><p>Title: <%= comment.comment_title %></p>
  <p>Comment: <%= comment.comment_text %></p></div>
  <% end %>
</ul>

