
<h3>Name: <%= @raccoon.name %></h3>
<ul>
<li>Size: <%= @raccoon.size %></li>
<li>Favorite Food: <%= @raccoon.favorite_food %></li>
<li>Gender: <%= @raccoon.gender %></li>
<li>Disposition: <%= @raccoon.disposition %></li>
<%= image_tag ("raccoon2.jpg")%>


</ul>