<ul>
<h3>Name: <%= @raccoon.name %></h3>
<li>Size: <%= @raccoon.size %></li>
<li>Favorite Food: <%= @raccoon.favorite_food %></li>
<li>Gender: <%= @raccoon.gender %></li>
<li>Disposition: <%= @raccoon.disposition %></li>

</ul>