<h1>This is a new Raccoon sighting report!</h1>

<%= form_for @report do |f| %>

<%= f.label :time, "Date" %>
<%= f.date_field :time %><br><br>
  
<%= f.fields_for :raccoons, @report.raccoons.build do |raccoons_fields| %>
  <%= f.label :name, "Select a Raccoon!" %>  
  <%= f.collection_check_boxes :raccoon_ids, Raccoon.all, :id, :name %>   
<% end %><br><br>

<%= f.fields_for :location do |location_fields| %>
  <%= location_fields.label :neighborhood_id, "Select a Neighborhood" %>
  <%= location_fields.collection_select :neighborhood_id, Neighborhood.all, :id, :name %><br><br>
  <%= f.label :address, "Enter an address" %>
  <%= location_fields.text_field :address %><br><br>
  
<% end %>

<%= f.submit %>
<% end %>


