<div class="container">
  <div class="row">
  <div class="col">

  </div>
  <div class="col-6">
    <h1>Sighting Report</h1>
      <%= bootstrap_form_for @report do |f| %><br>
        <%= f.label :time, "Date" %>
        <%= f.date_field :time, hide_label: true %> <br>
        <%= f.fields_for :raccoons, @report.raccoons.build do |raccoons_fields| %>
        <b><%= f.label :name, "Select a Raccoon!" %></b>
        <%= f.collection_check_boxes :raccoon_ids, Raccoon.all, :id, :name, hide_label: true %>  
      <% end %> 
  

<b>Don't see the Raccoon want to report?</b>

<%= link_to  "Register a New Raccoon...", new_raccoon_path %>
<%= f.fields_for :location do |location_fields| %>
  <%= location_fields.collection_select :neighborhood_id, Neighborhood.all, :id, :name %>

  <%= location_fields.text_field :address %>
<% end %>

<%= f.submit %>
<% end %>
</div>

<div class="col">

</div>

<footer>
  <span class="text-muted"><%= image_tag("raccoon.png", height: 50, class: 'image') %>.</span>
</footer>
</div>
</div>